* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100vw;
    height: 100vh;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 15rem);
    grid-template-rows: repeat(100, 15rem);

    /* transform: scale(0.1); */
}

.item {
    border: 1px solid;
    cursor: pointer;

    padding: 1rem;

    overflow: hidden;
}

.item .news-title {
    font-family: "Alike", serif;
    font-size: 1rem;
    line-height: 1.1rem;

    margin-bottom: 0.5rem;

    hyphens: auto;
    -webkit-hyphens: auto;
}

.item .news-summary {
    font-family: "Actor", sans-serif;
    font-size: 0.7rem;
    line-height: 1rem;

    hyphens: auto;
    -webkit-hyphens: auto;
}